@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/*Quita la barra de desplazamiento de las categorias*/
.categorias-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
}

.menu-account-shadow{
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 0.2);
}
